.container {
    // background-color: rgb(253 186 116);
    // background: url("/images/背景_base.svg") rgb(186, 79, 13) repeat;
    overflow-wrap: break-word;
}

.title {
    top: calc(100% / 4);
    color: #e4b654;
}
.matsu {
    // top: calc(100% / 4 + 1rem);
    bottom: 20%;
    left: calc(50% - (30% / 2));
}

.hexagon {
    hoge: hoge;
}

.ribbon {
    width: 96vw;
    height: 10rem;
    top: -14.5rem;
    left: calc(-1 * (96vw / 2));
    margin: 0;
    &Content {
        background: url("/images/japanesePattern05.svg") rgb(118, 9, 27) repeat;
        width: 100%;
        height: 100%;
    }
}

.aboutFes {
    &Container {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-areas: "decorationA areaAboutFes decorationB";
    }
    width: 100%;
    &Content {
        background: url("/images/背景_base.svg") rgba(186, 79, 13, 0.8) repeat;
    }
}

.decorationA {
    grid-area: decorationA;
}

.decorationB {
    grid-area: decorationB;
}

.tapestry {
    width: calc(((100vw - 3rem) / 5) * (2 / 5));
    height: calc((((100vw - 3rem) / 5) * (2 / 5)) * 2 + 2rem);
}
