.container {
    hoge: hoge;
}

.main {
    hoge: hoge;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 128px;
}

.logo {
    height: 128px;
    margin-left: 0.5rem;
}

.mainContent {
    // background-color: rgb(253 186 116);
    background: url("/images/背景_base.svg") rgb(186, 79, 13) repeat;
    overflow-wrap: break-word;
}
