$base-length: calc(100vh / 34);

.container {
    background-color: var(--color__black--darkest);
    overflow: hidden;
    word-break: keep-all;
}

@mixin scroll-mixin(
    $top: 0,
    $margin: 0,
    $fontSize: 0,
    $duration: 0s,
    $color: #fff
) {
    top: $top * $base-length;

    & div > p {
        margin-left: $margin * $base-length;
        margin-right: $margin * $base-length;

        & > span {
            color: $color;
            font-size: $fontSize * $base-length;
        }
    }

    & > div:nth-child(1) {
        animation: scroll $duration linear infinite;
    }

    & > div:nth-child(2) {
        animation: scroll $duration linear infinite;
    }
}

div.looping {
    &Container {
        position: absolute;
    }

    & > p {
        color: var(--color__black--light);
        line-height: 1;
    }

    &0 {
        @include scroll-mixin(-1, 1, 8, 50s, rgb(207, 156, 156));
    }

    &1 {
        @include scroll-mixin(6.3, 0, 2, 20s, rgb(207, 200, 156));
    }

    &2 {
        @include scroll-mixin(5.9, 1, 12, 30s, rgb(177, 207, 156));
    }

    &3 {
        @include scroll-mixin(16.7, 0, 3, 40s, rgb(156, 207, 179));
    }

    &4 {
        @include scroll-mixin(19.1, 0, 4, 70s, rgb(156, 192, 207));
    }

    &5 {
        @include scroll-mixin(21.5, 0.5, 8, 70s, rgb(156, 180, 207));
    }

    &6 {
        @include scroll-mixin(28.7, 0, 3, 70s, rgb(170, 156, 207));
    }

    &7 {
        @include scroll-mixin(29.9, 1, 10, 70s, rgb(189, 156, 207));
    }
}

@keyframes scroll {
    0% {
        transform: translate(-4rem);
        // 要素の左にpaddingが1remあるので、初期位置は-1rem以下にしないと上手く見えない
    }

    100% {
        transform: translate(calc((-1 * var(--loop-width)) - 4rem));
    }
}
