$base-length: 1rem;

.outerContainer {
    background-color: var(--color__black--darkest);
    overflow: hidden;
    word-break: keep-all;
}

.container {
    position: absolute;

    @for $i from 1 to 8 {
        &:nth-child(#{$i}) {
            top: 39 * $base-length * ($i - 1);
        }
    }
}

// TODO mixin等を利用して整理したい

@mixin scroll-mixin(
    $top: 0,
    $margin: 0,
    $fontSize: 0,
    $duration: 0s,
    $color: #FFF
) {
    top: $top * $base-length;

    & div div {
        margin-left: $margin * $base-length;
        margin-right: $margin * $base-length;

        & p {
            color: $color;
            font-size: $fontSize * $base-length;
        }
    }

    & > div:nth-child(1) {
        animation: scroll $duration linear infinite;
    }

    & > div:nth-child(2) {
        animation: scroll $duration linear infinite;
    }
}

div.looping {
    &Container {
        position: absolute;
    }

    & p {
        color: var(--color__black--light);
        line-height: 1;
    }

    &0 {
        @include scroll-mixin(-1, 1, 8, 50s, rgb(207, 156, 156));
    }

    &1 {
        @include scroll-mixin(6.3, 0, 2, 20s, rgb(207, 200, 156));
    }

    &2 {
        @include scroll-mixin(5.9, 1, 12, 30s, rgb(177, 207, 156));
    }

    &3 {
        @include scroll-mixin(16.7, 0, 3, 70s, rgb(156, 207, 179));
    }

    &4 {
        @include scroll-mixin(19.1, 0, 4, 70s, rgb(156, 192, 207));
    }

    &5 {
        @include scroll-mixin(21.5, 0.5, 8, 70s, rgb(156, 180, 207));
    }

    &6 {
        @include scroll-mixin(28.7, 0, 3, 70s, rgb(170, 156, 207));
    }

    &7 {
        @include scroll-mixin(29.9, 1, 10, 70s, rgb(189, 156, 207));
    }
}

@keyframes scroll {
    0% {
        transform: translate(-1rem);
    }

    100% {
        transform: translate(calc((-1 * var(--loop-width)) - 1rem));
    }
}
