.mainContent {
    // background-color: rgb(253 186 116);
    background: url("/images/背景_base.svg") rgb(186, 79, 13) repeat;
    overflow-wrap: break-word;
}

.title {
    top: calc(100% / 4);
    color: #e4b654;
}
.matsu {
    // top: calc(100% / 4 + 1rem);
    bottom: 20%;
    left: calc(50% - (30% / 2));
}

.hexagon {
    hoge: hoge;
}

.ribbon {
    width: 98vw;
    height: 10rem;
    top: -14.5rem;
    left: calc(-1 * (98vw / 2));
    &Content {
        background: url("/images/japanesePattern05.svg") rgb(118, 9, 27) repeat;
        width: 100%;
        height: 100%;
    }
}

.aboutFes {
    width: calc(100% - 16rem);
    &Content {
        background: url("/images/背景_base.svg") rgba(186, 79, 13, 0.8) repeat;
    }
}
