$terminal__red--hover: rgb(232, 17, 35);
$terminal__red--active: rgb(180, 13, 27);


.terminal {
    color: var(--text-color__base--white);
    background-color: var(--color__black--darkest);
    border-radius: 0.375rem; /* 6px */

    &Top {
        background-color: var(--color__black--darker);
        // border-top-left-radius: 0.375rem; /* 6px */
        // border-top-right-radius: 0.375rem; /* 6px */

        & > :hover {
            background-color: var(--color__black--dark);
        }

        & > :active {
            background-color: var(--color__black--light);
        }

        &X {
            border-top-right-radius: 0.375rem; /* 6px */

            &:hover {
                background-color: $terminal__red--hover;
            }

            &:active {
                background-color: $terminal__red--active;
            }
        }

        &RestoreOriginalSize {
            hoge: hoge; // 取り敢えずTerminal.module.scss.d.tsに型を生成させる為のもの
        }

        &Minimize {
            hoge: hoge; // 取り敢えずTerminal.module.scss.d.tsに型を生成させる為のもの
        }
    }
}
