:root {
    --text-color__base--white: rgb(236, 236, 236);
    --text-color__base--black: rgb(30 42 54);

    --color__black--darkest: rgb(30 42 54);
    --color__black--darker: rgb(56 72 92);
    --color__black--dark: rgb(72 92 112);
    --color__black--light: rgb(96 116 136);
}
